body {
  width: 50%;
  margin: 0;
  padding-bottom: 50px;
}

h1 {
  padding: 5px 0 0 0;
  font-family: Arial, helvetic, sans-serif;
  margin-bottom: 10px;
}

h1, h2 {
  color: #6b4e3d;
}

h3 {
  color: 666;
}

section {
  margin-left: 10px;
}

/* Header */
header {
  margin: 0 0 0 10px;
}

header p {
  height: 15px;
  margin: 0;
}

/* Main */
section h2 {
  margin-bottom: 0px;
}

section h3 {
  font-family: 'Courier New', monospace;
}

.description {
  border: 1px solid grey;
  padding-left: 5px;
}

.description p {
  font-family: 'Trebuchet MS', sans-serif
}

p.center {
  text-align: center;
}

.solution {
  display: none;
  border-left: 5px solid #6b4e3d;
  background-color: lightgrey;
  padding-left: 10px;
}

.button_show_solution {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0;
    cursor: pointer;
}

/* Footer */
footer {
  width: 200%;
  position: fixed;
  bottom: 0;
  background-color: #6b4e3d;
}

footer p {
  padding-left: 10px;
  color: white;
}

footer a {
  text-decoration: none;
  color: grey;
}
